section {
    padding: 50px 0;

    &.recently {
        // padding: 45px 0 15px;
   
    }

    &.top {
        background-color: #f9f9f9;
    }

    &.trending {}

    &.videos {
        background-color: #f9f9f9;
    }

    &.popular {
        // padding: 45px 0 0;
        & .popular__posts {
            & .grid {}
        }
    }
}

.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3rem;

    & h2 {
        font-size: 2.4rem;
    }

    & a {
        position: relative;
        font-size: 1.4rem;
        line-height: 2.2rem;
        color: var(--grey-dark-one);
        font-weight: 600;
        text-transform: uppercase;
        transition: all .5s ease-in-out;
        overflow: hidden;

        &::before {}

        &:hover {
            text-decoration: none;
            outline: 0;
            color: currentColor;

            &::before {
                transform: translateX(100%);
            }

            &::after {
                transform: translateX(100%);
            }
        }

        &::before, &::after {
            content: "";
            width: 100%;
            height: .2rem;
            background-color: currentColor;
            position: absolute;
            right: 100%;
            bottom: 0;
            transition: all .5s;
            transform: translateX(-100%);
        }

        &::after {
            right: -100%;
        }
    }
}

.recently {
    &__wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 3rem;
        grid-template-areas: "main submain";

        @media (max-width: 1024px) {
            grid-template-columns: 1fr;
            grid-template-rows: auto auto;
            grid-template-areas: "main" "submain";
        }
    }

    & .main-post {
        grid-area: main;

        // height: 800px;
        // background-color: orangered;

        @media (max-width: 1024px) {
            // height: 280px;
        }
    }

    & .submain-posts {
        grid-area: submain;

        & .post {
            &:not(:last-child) {
                margin-bottom: 3rem;
            }
        }
    }
}

.top {
    & .header {
        color: #fff;
        margin-bottom: 3rem;
    }

    &__posts {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-gap: 3rem;
        grid-template-areas: "main main post" "main main secondpost";

        @media (max-width: 991px) {
            grid-template-columns: 1fr;
            grid-template-rows: auto auto auto;
            grid-template-areas: "main" "post" "secondpost";
        }

        & .toppost {
            &:not(:first-child) {
                grid-area: post;
            }

            &:last-child {
                grid-area: secondpost;
            }

            &:first-child {
                grid-area: main;
            }
        }
    }
}

.trending {
    &__posts {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 3rem;

        @media (max-width: 768px) {
            grid-template-columns: 1fr;
        }
    }
}

.videos {
    color: #fff !important;

    & .header {
        color: var(--grey-dark-two) !important;

        & a {}
    }

    &__wrapper {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-gap: 3rem;
        grid-template-areas: "main main video1" "main main video2" "main main video3" "main main video4";

        @media (max-width: 991px) {
            grid-template-columns: 1fr;
            grid-template-rows: repeat(5, auto);
            grid-template-areas: "main" "video1" "video2" "video3" "video4";
        }

        & .video {
            &:nth-child(1) {
                grid-area: main;
            }

            &:nth-child(2) {
                grid-area: video1;
            }

            &:nth-child(3) {
                grid-area: video2;
            }

            &:nth-child(4) {
                grid-area: video3;
            }

            &:nth-child(5) {
                grid-area: video4;
            }

            grid-area: video;
        }
    }
}

.popular {
    &__wrapper {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas: "posts posts sidebar";
        grid-gap: 4.5rem;

        @media (max-width: 1024px) {
            grid-template-columns: 1fr;
            grid-template-rows: auto auto;
            grid-template-areas: "posts" "sidebar";
            grid-gap: 3rem;
        }
    }

    &__posts {
        grid-area: posts;

        & .ad {
            margin-bottom: 6rem;
            width: 100%;

            & img {
                max-width: 100%;

                & img {
                    @media (max-width: 991px) {
                        width: 80%;
                    }
                }
            }
        }

        & .post {
            margin-bottom: 3rem;
            width: 100%;
        }
    }
}

.most {
    &__posts {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 3rem;

        @media (max-width: 991px) {
            grid-template-columns: repeat(2, 1fr);
        }

        @media (max-width: 768px) {
            grid-template-columns: 1fr;
        }
    }
}
