.articles .ad {
  margin-top: 6rem;
  width: 100%;
}

.articles .ad img {
  max-width: 100%;
}

.articles .post {
  margin-bottom: 3rem;
  width: 100%;
  grid-template-columns: 20rem auto !important;
}

.articles .post-img {
  max-width: 28rem !important;
  height: auto;
}

.articles .post-title {
  margin-top: 2rem;
}

.articles .post-meta {
  margin-top: 2rem;
}

.articles .post-description {
  margin-top: 2rem;
}

.articles .post-description p {
  display: block !important;
}

.articles-page {
  padding: 5rem 0;
}

.articles__wrapper {
  display: grid;
  grid-template-areas: "articles articles sidebar";
  grid-gap: 4.5rem;
}

@media (max-width: 1024px) {
  .articles__wrapper {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    grid-template-areas: "sidebar" "articles";
    grid-gap: 3rem;
  }
}
