:root {
  --grey-dark-key: #000;
  --grey-dark-one: #121213;
  --grey-dark-six: #cecece;
  --grey-dark-four: #7b7b7b;
  --grey-dark-two: #494e51;
  --grey-dark-three: #6b7074;
  --secondary-font: 'cairo',sans-serif;
  --grey-dark-six: #cecece;
  --s-regular: 400;
  --primary-color: #f34e00;
  --primary-color-darken: #8a1e33;
  --grey-light-two: #f0f0f0;
  --grey-light-one: #d3d7da;
  --grey-light-three: #f9f9f9;
  --break-poing-1: 991px;
  --shadow-dark: 0 2px 6px 0 rgba(0,0,0,.2);
  --cubic-easing: cubic-bezier(.86,0,.07,1);
  --grey-mid: #c1c6c9;
  --grey-light-one: #d3d7da;
  --border-color: #e6e6e6;
}
