.sidebar {
  grid-area: sidebar;
}

.sidebar > div:not(:last-child) {
  margin-bottom: 3rem;
}

.sidebar .banner {
  width: 100%;
  margin-bottom: 3rem;
}

.sidebar .banner img {
  max-width: 100%;
  height: auto;
}

.sidebar .newsletter {
  padding: 3rem;
  background-color: var(--grey-light-three);
}

.sidebar .newsletter > div:not(:last-child) {
  margin-bottom: 2rem;
}

.sidebar .newsletter__icon {
  width: 6rem;
  height: 6rem;
  border-radius: 100%;
  background: rgba(255, 44, 84, 0.1);
  text-align: center;
  line-height: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar .newsletter__icon i {
  color: var(--primary-color);
  font-size: 2.2rem;
}

.sidebar .newsletter__header h6 {
  font-size: 2.4rem;
  line-height: 3.6rem;
  margin-bottom: 0;
}

.sidebar .newsletter__content {
  color: var(--grey-dark-two);
}

.sidebar .newsletter__content p {
  font-size: 1.6rem;
  line-height: 2.8rem;
}

.sidebar .newsletter__form .input input {
  margin-bottom: 2rem;
  line-height: 2rem;
  display: block;
  width: 100%;
  height: auto;
  border: none;
  background: 0 0;
  font-size: 1.6rem;
  line-height: 3rem;
  color: var(--grey-dark-one);
  padding: .9rem 2rem;
  border-radius: 0;
  font-family: 'cairo', sans-serif;
  border: 0.2rem solid var(--grey-light-one);
  transition: all .5s;
}

.sidebar .newsletter__form .input button {
  font-size: 1.2rem;
  line-height: 1.6rem;
  padding: 1.1rem 3rem;
  background: var(--primary-color);
  border: 1px solid transparent;
  cursor: pointer;
  border-color: var(--primary-color);
  color: #fff;
  font-family: 'cairo', sans-serif !important;
  font-weight: bold;
  position: relative;
}

.sidebar .newsletter__form .input button:hover::before {
  width: 100%;
  left: auto;
  right: 0;
}

.sidebar .newsletter__form .input button::before {
  content: " ";
  width: 0;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.1);
  transition: all .5s;
}

.sidebar .categories {
  width: 100%;
  display: block;
}

.sidebar .categories__title {
  display: flex;
  justify-content: space-between;
  padding-bottom: 1rem;
  border-bottom: 0.1rem solid var(--grey-light-one);
  margin-bottom: 2rem;
}

.sidebar .categories__title h3 {
  font-size: 1.8rem;
  line-height: 3rem;
}

.sidebar .categories__title .controllers span {
  width: 3rem;
  height: 3rem;
  text-align: center;
  border-radius: 0;
  transition: all .5s;
  background-color: var(--grey-light-one);
  color: #fff;
  cursor: pointer;
}

.sidebar .categories__title .controllers span:hover {
  background-color: var(--primary-color);
}

.sidebar .categories__title .controllers span:first-child {
  margin-left: 1rem;
}

.sidebar .categories__title .controllers span i {
  padding: 1rem;
}

.sidebar .categories__slides {
  position: relative;
  display: block;
  width: 100%;
}

.sidebar .categories__slides .category {
  position: relative;
  width: 50%;
  float: right;
  padding: .5rem;
}

@media (max-width: 1024px) and (min-width: 768px) {
  .sidebar .categories__slides .category {
    width: 25%;
  }
}

.sidebar .categories__slides .category-inner {
  position: relative;
  width: 100%;
  height: 100%;
  background-size: 100%;
  background-position: center center;
  overflow: hidden;
  transition: all .2s;
  display: block;
  height: 17.5rem;
}

.sidebar .categories__slides .category-inner:hover {
  background-size: 110%;
}

.sidebar .categories__slides .category-inner img {
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
}

.sidebar .categories__slides .category-inner .counter {
  display: flex;
  justify-content: center;
  z-index: 2;
}

.sidebar .categories__slides .category-inner .counter span {
  color: #fff;
  font-size: 2.4rem;
  line-height: 3.6rem;
  font-weight: bold;
}

.sidebar .categories__slides .category-inner .cat-title {
  font-size: 1.4rem;
  line-height: 2.2rem;
  color: var(--grey-light-one);
  margin: 0;
  z-index: 2;
}

.sidebar .categories__slides .category .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  flex-direction: column;
  background-color: rgba(18, 18, 19, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar .social-links {
  width: 100%;
}

.sidebar .social-links ul {
  display: flex;
}

.sidebar .social-links ul li {
  width: calc(25% - 10px) !important;
  padding: 40px 0;
  position: relative;
  text-align: center;
  display: block !important;
  transition: all .2s;
  display: flex;
  justify-content: center;
  align-content: center;
  cursor: pointer;
}

.sidebar .social-links ul li:hover {
  transform: translateY(-2px);
}

.sidebar .social-links ul li:nth-child(1) {
  background: #3b5997 !important;
}

.sidebar .social-links ul li:nth-child(2) {
  background: #1ab7ea !important;
}

.sidebar .social-links ul li:nth-child(3) {
  background: #0077b5 !important;
}

.sidebar .social-links ul li:nth-child(4) {
  background: #ed4141 !important;
}

.sidebar .social-links ul li:not(:last-child) {
  margin-left: 1rem;
}

.sidebar .social-links ul li i {
  color: #fff;
  font-size: 2rem;
}

.sidebar__posts {
  width: 100%;
  margin-bottom: 3rem;
  position: relative;
}

.sidebar__posts--tabs {
  display: flex;
  border: 0 solid var(--grey-light-one);
  border-width: 0 0 .1rem .1rem;
  margin-bottom: 2rem;
  padding: 0;
}

.sidebar__posts--tabs li {
  width: 33.33333333333%;
  cursor: pointer;
}

.sidebar__posts--tabs li:hover a {
  border-color: var(--primary-color);
  background-color: var(--primary-color);
  color: #fff;
}

.sidebar__posts--tabs li a {
  transition: all .3s ease 0s;
  font-family: 'cairo', sans-serif;
  font-weight: bold;
  font-size: 1.2rem;
  border-radius: 0;
  border: 0 solid var(--grey-light-one);
  border-width: .1rem .1rem 0 0;
  line-height: 1.6rem;
  color: var(--grey-mid);
  text-align: center;
  padding: 1.3rem 1rem;
  display: block;
  width: 100%;
  height: 100%;
}

.sidebar__posts--tabs li a.active {
  border-color: var(--primary-color);
  background-color: var(--primary-color);
  color: #fff;
}

.sidebar__posts > div {
  opacity: 0;
  transform: translateY(10%);
  transition: all .6s linear;
  visibility: hidden;
  position: absolute;
}

.sidebar__posts > div.active {
  opacity: 1;
  position: relative;
  visibility: visible;
  transform: translateX(0);
}

.sidebar__posts > div .posts .post:not(:last-child) {
  margin-bottom: 2rem;
}

.sidebar__posts > div .posts .post .post-description {
  display: none;
}

.sidebar__posts > div .posts .post .post-meta ul li:not(:first-child) {
  display: none;
}

.sidebar .tags a {
  font-size: 1.2rem;
  display: inline-block;
  background: rgba(0, 0, 0, 0.03);
  border: 1px solid var(--grey-dark-six);
  line-height: 14px;
  margin: 3px;
  padding: 6px 10px;
  border-radius: 2px;
}

.sidebar .tags a:hover {
  color: var(--primary-color);
  border-color: var(--primary-color);
}

.ceo {
  padding: 3rem;
  background-color: #887c7c;
  width: 100%;
}

.ceo .description {
  font-size: 1.6rem;
  line-height: 28px;
  margin-bottom: 20px;
  color: #fff;
  text-align: center;
}

.ceo .sidebar-author {
  margin-bottom: 3rem;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.ceo .sidebar-author-img {
  padding-left: 15px;
  margin-bottom: 3rem;
  display: flex;
}

.ceo .sidebar-author-img img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
}

@media (max-width: 500px) {
  .ceo .sidebar-author-img img {
    width: 80%;
    height: 80%;
    margin: 0 auto;
  }
}

.ceo .sidebar-author-data {
  color: #fff;
}

.ceo .sidebar-author-data h3 {
  line-height: 1.5;
  color: inherit;
  font-size: 1.6rem;
  margin-bottom: .5rem;
}

.ceo .sidebar-author-data span {
  font-size: 1.5rem;
  color: #fff;
  transition: all .3s ease 0s;
}

.ceo .sidebar-author-data span:hover {
  color: var(--primary-color);
}
