.post {
  display: grid;
  grid-template-columns: 150px auto;
  grid-gap: 3rem;
}

@media (max-width: 768px) {
  .post {
    display: block;
  }
}

.post:hover img {
  transform: scale(1.1);
}

.post .category {
  margin-bottom: 1.5rem;
  margin-top: 3px;
  display: block;
}

@media (max-width: 768px) {
  .post .category {
    margin-top: 3rem;
  }
}

.post .post-description p {
  display: none;
}

.articles__wrapper .articles .post-img, .posts .articles .post-img {
  position: relative;
}

.articles__wrapper .articles .post-img img, .posts .articles .post-img img {
  width: 100%;
  height: auto;
 
}

@media (max-width: 1024px) and (min-width: 768px) {
  .articles__wrapper .articles .post-img img, .posts .articles .post-img img {
    max-width: 28rem !important;
  }
}

@media (max-width: 768px) {
  .post-img {
    
    margin-bottom: 3rem;
    max-width: 100% !important;
  }
}
