.top-header {
  padding: 0.5rem 0;
  position: relative;
  z-index: 999;
  background-color: var(--grey-dark-one);
}

@media (max-width: 991px) {
  .top-header {
    display: none;
  }
}

.wrapper {
  display: flex;
  justify-content: space-between;
}

.links {
  display: flex;
}

.links ul.date {
  margin-left: 3rem;
  padding: 0.5rem 0;
}

.links ul.date li {
  display: block;
  font-size: 1.4rem;
  line-height: 2.4rem;
  color: var(--grey-dark-six);
  font-weight: var(--s-regular);
  transition: all 0.3s;
}

.links__list {
  display: flex;
  padding: 0.5rem 0;
}

.links__list li {
  display: block;
  font-size: 1.4rem;
  line-height: 2.4rem;
  color: var(--grey-dark-six);
  font-weight: var(--s-regular);
}

.links__list li:not(:last-child) {
  margin-left: 3rem;
}

.links__list li a {
  transition: color 0.3s ease 0s;
}

.links__list li a:hover {
  color: var(--primary-color);
}

.icons ul {
  padding: 0.5rem 0;
  display: flex;
}

.icons ul li {
  display: block;
}

.icons ul li:not(:last-child) {
  margin-left: 3rem;
}

.icons ul li a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icons ul li a i {
  font-size: 1.4rem;
  transition: color 0.3s ease 0s;
  line-height: 2.4rem;
  color: var(--grey-dark-six);
  font-weight: var(--s-regular);
  transition: all 0.3s;
}

.top-ad {
  width: 100%;
  padding: 30px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 991px) {
  .top-ad {
    flex-direction: column;
  }
}

@media (max-width: 991px) {
  .top-ad img {
    width: 100%;
  }
}

.top-logo {
  display: flex;
  text-align: center;
}

.top-logo img {
  width: 250px;
}

@media (max-width: 500px) {
  .top-logo img {
    width: 150px;
  }
}

.top-logo span {
  font-size: 20px;
  padding: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
